<h1 id="heading">Using Form Builder</h1>
<hr style="width:50%;">
<form [formGroup]="myForm" (ngSubmit)=submitVal(myForm.value) >
    <div class="form-group">
        <input type="text" name="firstName" [formControl]="myForm.controls['firstName']" placeholder="first name"  class="form-control" required/>
    </div>
    <div class="form-group">
        <input type="text" name="lastName" [formControl]="myForm.controls['lastName']" placeholder="last name"  class="form-control" required/>
    </div>
    <div class="radio">
        <label>
          <input type="radio" name="gender" [formControl]="myForm.controls['gender']" required value="Male" >
          Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="gender" [formControl]="myForm.controls['gender']" required value="Female" >
          Female
        </label>
      </div>
    <div class="form-group">
        <input type="text" name="email"  [formControl]="myForm.controls['email']" placeholder="enter email id"  required class="form-control" />
    </div>
    <input id="button" type="submit" [disabled]="myForm.invalid" value="Submit" class="btn btn-primary" />
</form>